In [1]:
%pip install xgboost

Collecting xgboost
  Downloading xgboost-1.5.1-py3-none-win_amd64.whl (106.6 MB)
Requirement already satisfied: numpy in c:\users\rajeev\anaconda3\envs\cudaproject\lib\site-packages (from xgboost) (1.21.2)
Requirement already satisfied: scipy in c:\users\rajeev\appdata\roaming\python\python39\site-packages (from xgboost) (1.7.3)
Installing collected packages: xgboost
Successfully installed xgboost-1.5.1

In [14]:
%pip install -U scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.0.2-cp39-cp39-win_amd64.whl (7.2 MB)
Requirement already satisfied: numpy>=1.14.6 in c:\users\rajeev\anaconda3\envs\cudaproject\lib\site-packages (from scikit-learn) (1.21.2)
Requirement already satisfied: scipy>=1.1.0 in c:\users\rajeev\appdata\roaming\python\python39\site-packages (from scikit-learn) (1.7.3)
Collecting joblib>=0.11
  Downloading joblib-1.1.0-py2.py3-none-any.whl (306 kB)
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-3.0.0-py3-none-any.whl (14 kB)
Installing collected packages: threadpoolctl, joblib, scikit-learn
Successfully installed joblib-1.1.0 scikit-learn-1.0.2 threadpoolctl-3.0.0
Note: you may need to restart the kernel to use updated packages.

# Import Dependencies

In [1]:
import pandas as pd
import xgboost as xgb
from sklearn.preprocessing import LabelEncoder

In [2]:
df = pd.read_csv("Crop_recommendation.csv")
df_raw = df.copy()
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   N            2200 non-null   int64
 1   P            2200 non-null   int64
 2   K            2200 non-null   int64
 3   temperature  2200 non-null   float64
 4   humidity     2200 non-null   float64
 5   ph           2200 non-null   float64
 6   rainfall     2200 non-null   float64
 7   label        2200 non-null   object
dtypes: float64(4), int64(3), object(1)
memory usage: 137.6+ KB

# Labeling

In [4]:
label_encoder = LabelEncoder()

In [5]:
df['label'] = label_encoder.fit_transform(df['label'])

In [6]:
df.head

<bound method NDFrame.head of         N   P   K  temperature   humidity        ph    rainfall  label
0      90  42  43    20.879744  82.002744  6.502985  202.935536     20
1      85  58  41    21.770462  80.319644  7.038096  226.655537     20
2      60  55  44    23.004459  82.320763  7.840207  263.964248     20
3      74  35  40    26.491096  80.158363  6.980401  242.864034     20
4      78  42  42    20.130175  81.604873  7.628473  262.717340     20
...   ...  ..  ..          ...        ...       ...         ...    ...
2195  107  34  32    26.774637  66.413269  6.780064  177.774507      5
2196   99  15  27    27.417112  56.636362  6.086922  127.924610      5
2197  118  33  30    24.131797  67.225123  6.362608  173.322839      5
2198  117  32  34    26.272418  52.127394  6.758793  127.175293      5
2199  104  18  30    23.603016  60.396475  6.779833  140.937041      5

[2200 rows x 8 columns]>

# Shuffling and seperating data

In [7]:
df = df.sample(frac=1)
df.head()

       N   P   K  temperature   humidity        ph    rainfall  label
1156  26  18  30    32.060972  51.084942  6.336235   96.598165     12
461   20  77  23    34.872487  38.837860  5.180272  148.250279     18
1498  90  15  52    27.049275  91.382173  6.448062   23.657475     15
336   23  59  19    21.985608  24.873048  5.852047  129.565060      9
1611  33  12   8    25.260527  90.311537  6.822282  117.369530     16